################### Sipcmbeat Configuration Example #########################

############################# Sipcmbeat ######################################

sipcmbeat:
  # Defines how often an event is sent to the output
  verbose: false
  pcap: ""
  replay: false
  replay_min_delay: 275ms
  replay_max_delay: 0
  replay_scale: 0
  run_forever: false
  iface: ""
  bpf: ""
  http_port: 8080
  http_addr: "127.0.0.1"
  tcp_gc_int: 20s
  tcp_reorder_timeout: 60s
  tcp_connection_timeout: 1800s
  max_blocked_timeout: 5s
  event_buffer_size:  10240
  reg_delta: 0
  contact_ignore_port: false
  # set the encryption passphares (default empty), from which the
  # encryption key will be derived.
  # e.g.:  encryption_passphrase: "foobar"
  # Note that only one of encryption_passphrase or encryption_key must be set.
  encryption_passphrase: ""
  # set encryption key (hex string, default empty)
  # e.g. encryption_key: "000102030405060708090a0b0c0d0e0f"
  # Note that only one of encryption_passphrase or encryption_key must be set.
  encryption_key: ""
  # turn on/off ip address encryption, default off
  # (requires a set encryption_passphrase or encryption_key)
  encrypt_ip_addresses: false
  # turn on/off URIs encryption, default off
  # (requires a set encryption_passphrase or encryption_key)
  encrypt_uris: false
  # turn on/off CallID encryption, default off
  # (requires a set encryption_passphrase or encryption_key)
  encrypt_call_ids: false
